<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>List</key>
	<array>
		<dict>
			<key>title</key>
			<string>首页</string>
			<key>urlStr</key>
			<string>/api/4/stories/latest</string>
		</dict>
		<dict>
			<key>title</key>
			<string>日常心理学</string>
			<key>urlStr</key>
			<string>/api/4/theme/13</string>
		</dict>
		<dict>
			<key>title</key>
			<string>用户推荐日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/12</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电影日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>不许无聊</string>
			<key>urlStr</key>
			<string>/api/4/theme/11</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设计日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大公司日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/5</string>
		</dict>
		<dict>
			<key>title</key>
			<string>财经日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/6</string>
		</dict>
		<dict>
			<key>title</key>
			<string>互联网安全</string>
			<key>urlStr</key>
			<string>/api/4/theme/10</string>
		</dict>
		<dict>
			<key>title</key>
			<string>开始游戏</string>
			<key>urlStr</key>
			<string>/api/4/theme/2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>音乐日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/7</string>
		</dict>
		<dict>
			<key>title</key>
			<string>动漫日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/9</string>
		</dict>
		<dict>
			<key>title</key>
			<string>体育日报</string>
			<key>urlStr</key>
			<string>/api/4/theme/8</string>
		</dict>
	</array>
</dict>
</plist>
