<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavigationBar</key>
	<dict>
		<key>day</key>
		<dict>
			<key>r</key>
			<integer>66</integer>
			<key>g</key>
			<integer>156</integer>
			<key>b</key>
			<integer>249</integer>
		</dict>
		<key>night</key>
		<dict>
			<key>r</key>
			<integer>100</integer>
			<key>g</key>
			<integer>100</integer>
			<key>b</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>MainListBg</key>
	<dict>
		<key>day</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>255</integer>
		</dict>
		<key>night</key>
		<dict>
			<key>r</key>
			<integer>100</integer>
			<key>g</key>
			<integer>100</integer>
			<key>b</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>MainListText</key>
	<dict>
		<key>day</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>night</key>
		<dict>
			<key>r</key>
			<integer>200</integer>
			<key>g</key>
			<integer>200</integer>
			<key>b</key>
			<integer>200</integer>
		</dict>
	</dict>
</dict>
</plist>
